<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">COLMADO JUAN</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span><b style="font-weight:bold; color:rgb(64,64,64)">HOME</b>             
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ventas">
                <span class="oi oi-plus" aria-hidden="true" style="font-weight:bold"></span><b style="font-weight:bold; color:rgb(64,64,64)">VENTAS</b> 
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="product">
                <span class="oi oi-list-rich" aria-hidden="true" style="font-weight:bold"></span><b style="font-weight:bold; color:rgb(64,64,64)">PRODUCTOS</b> 
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
