@page "/"

<PageTitle>COLMADO</PageTitle>

<h1>BIENVENIDO</h1>



<SurveyPrompt Title="Si necesitas ayuda has click aqui!" />

@* MANDANDO A LLAMAR EL COMPONENTE QUE CREO MI OTRO COMPANERO*@
<Inicio/>